.projectTitle{
    margin: 0vw 1vw;
    padding: 1vw;
    display: grid;
    justify-content: center;
    align-items: center;
}


.gameContainer{
    /* margin: 7vw 7vh; */
    /* background-color: red;  */
    display: grid;
    grid-template-columns: auto auto auto;
    width: 45vw;
    height: 54vh;
    margin: auto;
    /* justify-items: center; */
    /* justify-content: stretch; */
    /* align-content: center; */
    align-items: center;
}

.totalContainer {
    /* background-color: blue; */
    width: 60vw;
    height: 75vh;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
}

/* .totalContainer{
    background-color: blue;
    width: 60vw;
    height: 75vh;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
} */



.sudokuCell{
    border: 2px solid white;
    /* background-color: purple; */
    display: grid;
    grid-template-columns: auto auto auto;
    width:100%;
    margin: auto;
    height:100%;
    /* justify-content: center; */
    /* justify-content: space-around;
    align-items: center; */
}

.sudokuItem{
    border: 1px solid white;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .sudokuItemInput{
    background-color: transparent;
    width: 5vw;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.sudokuItem:hover{
    transform: scale(1.05);
    /* border: none; */
}

.sudokuCell:hover{
    transform: scale(1.025);
    border: none;
}

.buttonSec{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    /* margin: auto; */
    margin: 4vh 0vw;
}

.buttonSec button{
    background-color: rgb(6, 6, 69);
    color:rgb(255, 255, 255);
    padding: 0rem 2rem;
    margin:0.5rem 1rem;
    border: 1px solid white;
    /* border-radius: 45%; */
    /* border-radius: 25%; */
    font-size: 1em;
    cursor:pointer;
}